*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container{
    width: 100%;
    margin: 0 auto;
    max-width: 1350px;
}


/*********************Header******************/

.header-inner{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        img{
            width: 110px;
        }
    }
    .nav-bar{
        margin-left: 0px;
        ul{
            display: flex;
            list-style: none;
            gap: 20px;
            li{
                a{
                    text-decoration: none;
                    color: #000;
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }
    }
    .nav-bar-two{
        display: flex;
        align-items: center;
        input{
            width: 200px;
            height: 40px;
            border-radius: 10px;
            outline: none;
            border: 1px solid #444;
        }

        .bi-search{
            font-size: 22px;
            padding-right: 50px;
            margin-left: -40px;
        }
        button{
            width: 50px;
            height: 40px;
            border: 1px solid #272829;
            cursor: pointer;
            background-color: white;
            border-radius: 10px;
            margin-right: 10px;
            i{
                font-size: 19px;
            }
        }
        .two-btn{
            background-color: blue;
            color: white;
        
        }
    }

}


/***********************MAIN***********************/

.carousel-item{
    img{
        width: 100px;
    }
}
.main{
    margin-top: 30px;
    background-color: #272829;
    color: white;
}

.inner{
    display: flex;

    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        padding-top: 20px;
        h1{
            font-size: 26px;
            font-weight: 600;
        }
        p{
            margin-top: 40px;
            font-size: 16px;
            width: 80%;
        }
        .icons{
            margin-top: 50px;
            display: flex;
            align-items: center;
            gap: 150px;
            button{
                width: 140px;
                height: 40px;
                border: none;
                border-radius: 10px;
                background-color: white;
            }
            .icon{
                display: flex;
                gap: 20px;
                i{
                    font-size: 40px;
                }
            }
        }
    }

    .cont-img{
        width: 80%;
        transform: translateY(60px);
    }

    .imgs{
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }
}



/*******************MAIN-TWO********************/

.main-two{
    border-top: 1px solid gray;
    background-color: #272829;
    padding-bottom: 30px;
}

.main-two-items{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
        .item{
            background-color: white;
            display: flex;
            flex-direction: column;
            gap: 0px;
            width: 18%;
            color: black;
            border-radius: 10px;
            .img{
                position: relative;
                height: 300px;
                width: 100%;
                img{
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;

                }
            }
            h4{
                padding: 10px;
                font-size: 16px;
            }
            p{
                font-size: 14px;
                padding: 10px;
                color: #084fa3;
                font-weight: 600;
            }
            h2{
                font-size: 18px;
                padding: 10px;
                color: #084fa3;
            }
        }
    }



/************************Main-Three****************************/

.section-main-three{
    padding-top: 30px;
    h1{
        font-size: 34px;
        color: #272829;
        font-family: 600;
    }
}

.main-three-inner{
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    gap: 20px;
    justify-content: center;
    .item{
        width: 30%;
        display: flex;
        background-color: rgb(245, 245, 245);
        border-radius: 10px;
        padding: 15px;
        .left-side{
            display: flex;
            align-items: center;
            width: 30%;
            img{
                width: 95%;
                height: 90%;
                border-radius: 5px;
            }
        }
        .right-side{
            position: relative;
            width: 70%;
            h3{
                padding-left: 10px;
                font-size: 14px;
            }
            h4{
                padding: 10px;
                color: #8a8a8a;
                font-weight:600;
                font-size: 12px;
                overflow: hidden;
                height: 10px;
            }
            .clock{
                display: flex;
                align-items: center;
                position: absolute;
                bottom: 0;
                right: 0;
                i{
                    font-size: 18px;
                    color: #8a8a8a;
                    padding-right: 5px;
                }
                p{
                    font-size: 14px;
                    color: #8a8a8a;
                    font-weight:600;
                }
            }
        }
    }
}



/***********************FOOTER****************************/

.footer{
    margin-top: 50px;
    background-color: #272829;
    color: white;
    height: 440px;
}

.inner{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 10px;
    .item{
        margin-top: 20px;
        img{
            width: 130px;
        }
        h1{
            color: #f29e30;
            font-size: 16px;
        }
        p{
            font-size: 14px;
            font-weight: 600;
            padding-top: 10px;
        }
        button{
            border: none;
            display: flex;
            align-items: center;
            padding: 10px;
            margin-top: 10px;
            border-radius: 10px;
            background-color: goldenrod;
            img{
            
                width: 30px;
            }
        }
        .last-logo{
            padding-top: 20px;
            display: flex;
            align-items: center;
            gap: 15px;
        }
    }
}